.main-form {
  width: auto;
  font-family: inherit;
}

.main-form input {
  position: absolute;
  bottom: 0;
  display: block;
  margin-left: 5px;;
  border: none;
  border-bottom: 1px solid grey;
  font-weight: bold;
  font-family: inherit;
  width: auto;
  height: 2rem;
}
.main-form > div {
  position: relative;
  height: 3rem;
  width: 100%;
}
input::placeholder {
  position: absolute;
  top:-10px;
  font-size: 15px;
}

input:focus {
  border-bottom: 1px solid red;
}

label {
  position: absolute;
  margin: auto;
  font-size: 8px;
  font-family: inherit;
  font-weight: bold;
  opacity: 0;
  top: 0;
  left: 0;
}

input:focus::placeholder {
  opacity: 0
}

input:focus ~ label {
  opacity: 1;
  transition: opacity 0.3s;
  color: red;
  border-bottom: 2px solid red;
  margin-left: 5px;
  margin-top: 5px;
}

@media (min-width: 40rem) {
  .main-form {
    width: 50vw;
    height: 50vh;
  }
}