
.modal-main {
  position: fixed;
  background: white;
  border: 5px solid black;
  display: block;
  top: 50vh;
  left: 50vw;
  height: 50vh;
  width: 50vw;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}
