@import url('https://fonts.googleapis.com/css?family=Oswald');

.sidebar,
.sidebar-close {
   position: absolute;
   top: 62px;
   left: 0%;
   height: 100vh;
   width: auto;
   background: inherit;
   z-index: 140;
}

.sidebar {
  transform: rotateY(0deg);
  transform-origin: left;
  transition: transform 0.5s;
}

.sidebar ul,
.sidebar-close ul {
  list-style: none;
  top: 5%;
  padding-top: 10%;
  padding-left: 0;
}

.sidebar-close {
  z-index: 140;
  transform: rotateY(90deg);
  transform-origin: left;
  transition: transform 0.5s;
}